<!DOCTYPE html>
<html>

<style>
table, th, td {
  border:1px solid black;
}
</style>

<body>

<h2 style="text-align:center">Projects per Researcher:</h2>

<table style="width:100%">
  <tr>
    <th>Researcher ID</th>
	<th>First Name</th>
	<th>Last Name</th>
	<th>Organisation ID</th>
	<th>Project ID</th>
	<th>Project Title</th>
  </tr>
  {% for PpR in PpRs %}
    <tr>
      <td>{{ PpR.Researcher_id }}</td>
	  <td>{{ PpR.First_name }}</td>
	  <td>{{ PpR.Last_name }}</td>
      <td>{{ PpR.Org_id }}</td>
	  <td>{{ PpR.Project_id }}</td>
      <td>{{ PpR.Title }}</td>
    </tr>
  {% endfor %}
</table>


<h2 style="text-align:center">Number of Projects per Researcher:</h2>

<table style="width:100%">
  <tr>
    <th>Researcher ID</th>
	<th>First Name</th>
	<th>Last Name</th>
	<th>#Projects</th>
  </tr>
  {% for PpRc in PpRcs %}
    <tr>
      <td>{{ PpRc.Researcher_id }}</td>
	  <td>{{ PpRc.First_name }}</td>
      <td>{{ PpRc.Last_name }}</td>
	  <td>{{ PpRc.Number_of_Projects }}</td>
    </tr>
  {% endfor %}
</table>


<h2 style="text-align:center">Organisations:</h2>

<table style="overflow-x:auto;">
  <tr>
    <th>Organisation ID</th>
    <th>Abbreviation</th>
    <th>Name</th>
    <th>ZIP Code</th>
    <th>Address</th>
    <th>City</th>
    <th>Type of Organisation</th>
    <th>Ministry Budget</th>
    <th>Private Budget</th>
    <th>Equity</th>
  </tr>

  {% for Organisation in Organisations %}
    <tr>
      <td>{{ Organisation.Org_id }}</td>
      <td>{{ Organisation.Abbreviation }}</td>
      <td>{{ Organisation.Name }}</td>
      <td>{{ Organisation.Zip_Code }}</td>
      <td>{{ Organisation.Street }}</td>
      <td>{{ Organisation.City }}</td>
      <td>{{ Organisation.Organisation_Type  }}</td>
      <td style="text-align:center">{%if Organisation.Min_budget%} {{ Organisation.Min_budget }} {%else%} - {%endif%}</td>
      <td style="text-align:center">{%if Organisation.Priv_budget%} {{ Organisation.Priv_budget }} {%else%} - {%endif%}</td>
      <td style="text-align:center">{%if Organisation.Equity%} {{ Organisation.Equity }} {%else%} - {%endif%}</td>
    </tr>
  {% endfor %}
</table>


</body>
</html>
