<!DOCTYPE html>
<html>

<div class = "alert-custom col-md-12">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message | safe }}
                <!-- |safe is a jinja2 filter that prevents automatic escaping -->
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>


<style>
table, th, td {
  border:1px solid black;
}
</style>

<body>

<h2 style="text-align:center">UPDATE FIELD</h2>

<form action="/CRUD/Read-Modify-Delete/Field/Update/{{name}}" method="POST">
  <h3>ENTER NEW VALUES:</h3>
  <label>Field Name:</label><br>
  <input type="text" id="Field_name" name="Field_name"><br><br>

  <input type="submit" name="button">
</form>


</body>
</html>
