<!DOCTYPE html>
<html>

<div class = "alert-custom col-md-12">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message | safe }}
                <!-- |safe is a jinja2 filter that prevents automatic escaping -->
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>


<style>
table, th, td {
  border:1px solid black;
}
</style>

<body>

<h2 style="text-align:center">CREATE RESEARCHER</h2>

<form action="/CRUD/Create/Researcher" method="POST">
  <h3>ADD TABLE:</h3>
  <label>First Name:</label><br>
  <input type="text" id="First_name" name="First_name"><br><br>
  <label>Last Name:</label><br>
  <input type="text" id="Last_name" name="Last_name"><br><br>
  <label>Sex:</label>
    <select name = "Sex">
    <option value = "Male">Male</option>
    <option value = "Female">Female</option>
    </select><br><br>
  <label>Birthdate:</label><br>
  <input type="date" id="Birthdate" name="Birthdate"><br><br>
  <label>Organisation ID:</label><br>
  <input type="number" min='1' id="Org_id" name="Org_id"><br><br>
  <label>Start date:</label><br>
  <input type="date" id="Start_date" name="Start_date"><br><br>

  <input type="submit" name="button">
</form>


</body>
</html>
